<%= form_with(model: organization, local: true) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :public_name %>
    <%= form.text_field :public_name %>
  </div>

  <div class="field">
    <%= form.label :organization_type %>
    <%= form.text_field :organization_type %>
    <%#= select_tag :organization_type, options_for_select(%w[Show_room Service Dealer], "Show_room") %>
  </div>

  <div class="field">
    <%= form.label :pricing_policy %>
    <%= form.text_field :pricing_policy %>
    <%#= select_tag :pricing_policy, options_for_select(%w[Flexible Fixed Prestige], "Flexible") %>
  </div>

  <div class="field">
    <%= form.label :parent_org_id %>
    <%= form.text_field :parent_org_id %>
  </div>

  <div class="field">
    <%= form.label :group_organization_id %>
    <%= form.text_field :group_organization_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
