<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Public name</th>
      <th>organization_type</th>
      <th>Pricing policy</th>
      <th>Parent org</th>
      <th>Group organization</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.public_name %></td>
        <td><%= organization.organization_type %></td>
        <td><%= organization.pricing_policy %></td>
        <td><%= organization_info(organization.parent_org_id) %></td>
        <td><%= group_org_name(organization.group_organization_id) %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
