<h1>Organizations</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Public name</th>
    <th>organization_type</th>
    <th>Pricing policy</th>
    <th>Parent organization</th>
    <th>Group organization</th>
  </tr>
  </thead>

  <tbody>
  <% @organizations.flatten.each do |org| %>
    <tr>
      <td><%= org.name %></td>
      <td><%= org.public_name %></td>
      <td><%= org.organization_type %></td>
      <td><%= org.pricing_policy %></td>
      <td><%= organization_info(org.parent_org_id) %></td>
      <td><%= group_org_name(org.group_organization_id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
